@import "tailwindcss";

@theme {
  --animation-autorun: autorun 20s linear infinite;

  @keyframes autorun {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-330%);
    }
  }
}